

.primaryColor{
 color: var(--primary-color);
}
.primaryColorBg{
 background-color: var(--primary-color);
 }

 .tertiaryColor{
   color: var(--secondary-color);
 }
.bold{
  font-weight: bold;
}

.bgGrey{
  background-color: var(--grey-color);
}
.lightColor{
  color:var(--bg-color);
}

.heroImage{
  background-color: #cebfb6 ;
}


.headerText h1{
  font-size: max(4rem);
  line-height: 5rem;
}
.headerText h2 {
  font-size: max(3rem);
  line-height: 2rem;
}
.headerText h3 {
  font-size: max(3rem);
  line-height: 3rem;

}
.headerText p {
  font-size: 1.3rem;
  font-weight: medium;
}

.carrerText{
  font-size: max(1.5rem);
}


.textsCourse h3{
  font-size: 1.5rem;
}

.textsCourse p {
  font-size: 1.2rem;
}

.containerCourses{
 padding: 4rem;
}
.cardEvent{
  background-color: var(--primary-color);
  color: var(--bg-color);
  padding: 1rem;
}

.svgContainer{
  background-color: var(--grey-color);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;

}

.svgContainer svg{
color: var(--bg-color);
background-color: var(--grey-color);

}

